:root {
    --menu-color: #61dafb;
    --background-color: #f1f1f1;
}

p {
    margin: 0 auto;
}

body {
    margin: 0;
    overflow-y: hidden;
}

.App {
    display: grid;
    grid-template-rows: 20px 100px 800px 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
          "header" "menu" "content" "footer";
    grid-gap: 5px;
}

.header {
    background-color: var(--menu-color);
    outline: 1px solid black;
    grid-area: header;
    text-align: center;
}

.menu {
    background-color: var(--background-color);
    outline: 1px solid black;
    grid-area: menu;
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.menuNav {
    background-color: var(--menu-color);
    outline: 1px solid black;
    grid-area: menuNav;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.menuText {
    background-color: var(--background-color);
    outline: 1px solid black;
    grid-area: menuText;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.menuTable {
    background-color: var(--background-color);
    outline: 1px solid black;
    grid-area: menuTable;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.menuPage {
    background-color: var(--background-color);
    outline: 1px solid black;
    grid-area: menuPage;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.menuBind {
    background-color: var(--background-color);
    outline: 1px solid black;
    grid-area: menuBind;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.content {
    background-color: var(--background-color);
    outline: 1px solid black;
    grid-area: content;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.templatePage {
    background-color: white;
    outline: 1px solid black;
    height: 1120px;
    width: 790px;
    margin: 20px;
    position: relative;
}

.footer {
    background-color: var(--background-color);
    outline: 1px solid black;
    grid-area: footer;
    text-align: right;
}

button {
    background-color: var(--menu-color);
    /*border: 1px solid black;*/
    cursor: pointer;
}

